.form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 10px
}

.form__input {
    border: 2px solid #dddddd;
    padding: 10px;
}

.form__button {
    cursor: pointer;
    border: none;
    color: white;
    background-color: hsl(180, 100%, 25%);
    padding: 10px 15px;
    transition: background-color 0.5s, transform 0.5s;
}

.form__button:hover {
    background-color: hsl(180, 100%, 27.5%);
    transform: scale(1.1);
}

.form__button:active {
    background-color: hsl(180, 100%, 30%);
}

@media (max-width: 767px) {
    .form {
        grid-template-columns: 1fr;
    }
}