.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.list__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 20px;
    padding: 20px;
    align-items: center;
    border-bottom: 1px solid #dddddd;
}

.list__item--hidden {
    display: none;
}

.list__content {
    overflow-wrap: anywhere;
}

@media (max-width: 767px) {
    .list__content {
        justify-self: center;
    }
}

.list__content--special {
    text-decoration: line-through;
}

.list__button {
    cursor: pointer;
    border: none;
    padding: 4px 8px;
    font-size: 20px;
    background-color: inherit;
}

.list__button--remove {
    color: crimson
}

.list__button--remove:hover {
    color: red;
}

.list__button--done {
    color: teal;
}

.list__button--done-js {
    color: #fefefe;
    background-color: teal;
}